<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <ll-home-products></ll-home-products>

  <div class="pt-20 ll-starter">
    <div class="container">
      <h2 class="text-center mb-16 xl:mb-0">Start with you desire</h2>
      <div class="grid xl:grid-cols-2 gap-x-8 mt-10">
        <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center">
          <div class="col-span-5 px-5">
            <img class="-mt-14" src="assets/images/starter-01.png" alt="" />
          </div>
          <div class="py-5 col-span-7">
            <h4 class="text-white mb-4">Start as a buyer</h4>
            <p class="text-white mb-7">
              Become part of your Lieblings services and book the micro-service that will help your production company
              at any time.
            </p>
            <a
              [routerLink]="['/auth/signup']"
              routerLinkActive="router-link-active"
              mat-flat-button
              color="warn"
              class="font-semibold"
              >Join Now</a
            >
          </div>
        </div>
        <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
          <div class="col-span-5 px-5">
            <img class="-mt-14" src="assets/images/starter-02.png" alt="" />
          </div>
          <div class="py-5 col-span-7 order-first text-right">
            <h4 class="text-white mb-4">Start as a consultant</h4>
            <p class="text-white mb-7">
              Become part of your Lieblings services and book the micro-service that will help your production company
              at any time.
            </p>
            <a
              [routerLink]="['/auth/signup']"
              routerLinkActive="router-link-active"
              mat-flat-button
              color="warn"
              class="font-semibold"
              >Join Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
